.error {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 3%;
}

img:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
