ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  border-color: greenyellow;
  border-style: solid;
  margin: 3%;
  padding: 1%;
  list-style-type: none;
}

h1 {
  color: greenyellow;
  display: flex;
  font-family: fantasy;
  font-size: 50px;
  justify-content: center;
  padding: 2%;
  opacity: 1;
}

body {
  background-color: black;
}

nav {
  background-color: rgb(27, 24, 24);
  display: flex;
  justify-content: space-around;
  padding: 1%;
  opacity: 0.75;
}

nav:hover{
  opacity:1;
}

a, p, h3, input {
  color: greenyellow;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

input, select {
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 2%;
}

.combined-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: greenyellow;
  margin: auto;
  width: fit-content;
  padding: 2%;
}

li img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

h1:hover {
  opacity: 0.80;
}

@media screen and (max-width: 680px) {
  ul, p, h3, h1, li {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li img {
    align-self: center;
    width: 250px;
  }

  li {
    width: fit-content;
  }

  li img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

}
