ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  border-color: greenyellow;
  border-style: solid;
  margin: 3%;
  padding: 1%;
  list-style-type: none;
}

h1 {
  color: greenyellow;
  display: flex;
  font-family: fantasy;
  font-size: 50px;
  justify-content: center;
  padding: 2%;
}

body {
  background-color: black;
}

nav {
  background-color: rgb(27, 24, 24);
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

a, p, h3, input {
  color: greenyellow;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

input {
  margin: auto;
}

@media screen and (max-width: 680px) {
  ul, p, h3, h1, li {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li img {
    width: 250px;
  }

  li {
    width: min-content;
  }

}
