body {
  display: flex;
  justify-content: center;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/potw2031a.jpg");
  background-position: center;
  color: whitesmoke;
}

.classHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;
  color:cornflowerblue;
  opacity: 80%;
}

.navigator {
  display: flex;
  justify-content: space-around;
}

.navigator a:hover {
  color: blue;
  text-decoration-line: none;
}

.navigator a:active {
  color: rgb(63, 124, 236);
}

.navigator a {
  color: cornflowerblue;
}

.classHome div h1 {
  display: flex;
  align-self: center;
}

.classHome div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  display: flex;
  align-items: center;
}

.classHome:hover {
  opacity: 100%;
}