* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: black;
    color: blanchedalmond;
  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;    
  }
  
  .logo-container {
    display: flex;
    flex-basis: 268px;
    opacity: 0.8;
    
  }
  
  .menu-container {
    display: flex;
    order: 2;
    flex-grow: 1;
  }
  
  .menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: center;

  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
    opacity: 0.8;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-container {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
  }
  
  .movie-container h2 {
    margin: 40px 0;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-container div {
    align-items: center;
    background-color: #5C687C;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    flex-basis: 16%;
    flex-grow: 2;
    border-radius: 20px;
    border-style: solid;
    border-color: blanchedalmond;
  }
  
  .aside-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-basis: 350px;
    justify-content: center;
    flex-grow: 2;
    color: blanchedalmond;
  }
  
  .aside-container h3, h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .aside-container p {
    margin: 10px 0;
    text-align: justify;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  #film1 {
    background-image: url('fotos_filmes/barraca\ do\ beijo.jpg');
    background-size: cover;
    background-position: center;
  }

  #film2 {
    background-image: url('fotos_filmes/birdbox.jpg');
    background-size: cover;
    background-position: center;
  }

  #film3 {
    background-image: url('fotos_filmes/branque.jpg');
    background-size: cover;
    background-position: center;
  }

  #film4 {
    background-image: url('fotos_filmes/caran.jpg');
    background-size: cover;
    background-position: center;
  }

  #film5 {
    background-image: url('fotos_filmes/Matrix\ Reloaded.jpg');
    background-size: cover;
    background-position: center;
  }

  #film6 {
    background-image: url('fotos_filmes/resgate.jpeg');
    background-size: cover;
    background-position: center;
  }

  #film7 {
    background-image: url('fotos_filmes/peca.jpg');
    background-size: cover;
    background-position: center;
  }

  #film8 {
    background-image: url('fotos_filmes/holmes.jpg');
    background-size: cover;
    background-position: center;
  }

  #film9 {
    background-image: url('fotos_filmes/mazar.jpg');
    background-size: cover;
    background-position: center;
  }

  #film10 {
    background-image: url('fotos_filmes/matrix.png');
    background-size: cover;
    background-position: center;
  }

  #film11 {
    background-image: url('fotos_filmes/O_homem_que_desafiou_o_Diabo1.jpg');
    background-size: cover;
    background-position: center;
  }

  #film12 {
    background-image: url('fotos_filmes/A\ vida\ é\ bela_capa.jpg');
    background-size: cover;
    background-position: center;
  }

  #film13 {
    background-image: url('fotos_filmes/Lisbela.jpg');
    background-size: cover;
    background-position: center;
  }

  #film14 {
    background-image: url('fotos_filmes/milagre.jpg');
    background-size: cover;
    background-position: center;
  }

  #film15 {
    background-image: url('fotos_filmes/rain.jpeg');
    background-size: cover;
    background-position: center;
  }

  #film16 {
    background-image: url('fotos_filmes/Velozes_e_Furiosos_-_Capa.jpg');
    background-size: cover;
    background-position: center;
  }

  #film17 {
    background-image: url('fotos_filmes/auto.jpg');
    background-size: cover;
    background-position: center;
  }

  #film18 {
      background-image: url('fotos_filmes/zera.jpg');
    background-size: cover;
    background-position: center;
  }

  .card-container div:hover {
    flex-basis: 18%;
    cursor: pointer;
  }

  .card-container div:active {
    flex-basis: 19%;
    cursor: pointer;
  }

  .logo-container:hover {
    cursor: pointer;
    opacity: 1;
  }

  .menu-container li:hover {
    opacity: 1;
    cursor: pointer;
  }